#contenido{
	width:750px;
	height:450px;
	background-color:yellow;
	margin: 100px auto;
	padding-top:50px;
	-moz-border-radius: 30px;
border-radius: 30px;

}
#content{
	width:600px;
	height:300px;
	background-color:orange;
	margin: 0px auto;
	padding-top: 100px;
	-moz-border-radius: 30px;
border-radius: 30px;

}
#titulo{
	width:500px;
	
	margin: 0 auto;
	color: gray;
	padding-top: 15px;
	padding-bottom: 15px;
	border: solid 2px red;
	text-align:center;
	font-family: Arial, Verdana;
	font-size: 24px;
	font-weight: bold;
	
}
#descripcion{
	width:350px;
	margin: 0 auto;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	border: solid 2px red;
	text-align:center;
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: bold;
}
#registrotrabajador{
	
	width:200px;
	
	background-color:black;
	margin-left: 100px ;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	border: solid 1px white;
	text-align:center;
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	float:left;
	-moz-border-radius: 50px;
border-radius: 50px;
}
#registrotrabajador a{
	color:white;
	text-align:center;
	text-decoration: none;
}
#registroempresa{
	width:200px;
	background-color:blue;
	margin-right: 100px;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	border: solid 3px green;
	text-align:center;
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	float:right;
	-moz-border-radius: 50px;
border-radius: 50px;
}
#registroempresa a{
	color:white;
	text-align:center;
	text-decoration: none;
}