<IfModule mod_rewrite.c>
    RewriteEngine on
    # For production environment:
    #RewriteBase /~cc62vg01/bolsa/
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>